<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--<property name="PATTERN" value="%d{'HH:mm:ss,SSS'} %logger{10} - %m%n" />-->
    <property name="PATTERN" value="%d{'HH:mm:ss,SSS'} - %m%n" />

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!--<level>DEBUG</level>-->
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>